@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    /* font-size: 16px; */
}

body {

    height: 100%;
    color-scheme: normal;

    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;

    @apply transition-colors duration-500;
    @apply bg-gray-50 dark:bg-gray-700;
    @apply text-gray-700 dark:text-gray-50;

}


@layer base {
    h1 { font-size: 2.5rem; font-weight: 800; padding: .3rem 0 .5rem; }
    h2 { font-size: 2rem;   font-weight: 700; padding: .3rem 0 .5rem; }
    h3 { font-size: 1.7rem; font-weight: 600; padding: .2rem 0 .3rem; }
    h4 { font-size: 1.3rem; font-weight: 600; padding: .2rem 0 .2rem; }
}

@layer components {
    .gradient-heading {
        @apply bg-clip-text text-transparent box-decoration-clone;
        /* Direction */
        @apply bg-gradient-to-br;
        /* Color Stops */
        @apply from-red-500 via-violet-500 to-blue-500;
    }
}

@layer utilities {
   
}